node_modules/
dist/
.vite/
.env
foraneo_flutter/.dart_tool/
foraneo_flutter/build/
foraneo_flutter/.idea/
foraneo_flutter/.flutter-plugins
foraneo_flutter/.flutter-plugins-dependencies
foraneo_flutter/android/build/
.tools/
artifacts/
foraneo_flutter/android/key.properties
foraneo_flutter/android/*.jks
foraneo_flutter/android/*.keystore
*.log
